/* makes inputs responsive */

/* input style */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* creates spacing btwn label and inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* column width 25% */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* column width 50% */
.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

/* column width 75% */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* evenly spaces inputs and labels */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* responsive layout - two columns will stack on top of each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
