@import url(fontawesome-all.min.css);
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';


/* Hero Image*/
div.hero-image { 

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  position: relative;

  left: 25%;
  margin: 5px;
 }

  /* Produces Map Background */
  body {
    background-image: url("../map.png"); /* the map background */
    background-color: #D9D7F1;  /* original purple #98b8fca1 */

    /* option 2 D9D7F1 */
  }

  /* Words/Characters/Fonts */
  body, input, select, textarea {
      font-family: "Source Sans Pro", Helvetica, sans-serif;
      font-size: 25pt;
      font-weight: 100;
      line-height: 1.5;
  }
  a {	
      color: inherit;
  }
  h1, h2, h3 {
      font-weight: 300;
      line-height: 1.5;
      margin: 0 0 0.5em 0;
  }
  h1 {
      font-size: 1em;
      line-height: 3;
      text-align: center;   
      padding: 10pt;
  }
  h2 {
      font-size: 1.5em;
  }
  h3 {
      font-size: 1.25em;
  }

  h4 {font-size: .85em;}

  .center {
    text-align: center;
    border: 3px solid #2f55ff;
  }

  /*Creating Border around Sections*/
    .bf { /* use div class="bf"*/
    padding: 55px;
    border-radius: 5px 5px;
    margin: auto;
    text-align: center;
    border-style: solid;
    border-color:black;
    background-color: white;
    overflow: auto;
    width: fit-content;
  }

  /* better alignment of gender radio buttons on reg page */
    .radioAlign { text-align: left; 
                    padding-left: 3.5em;}

    .radioAlign2 { text-align: left; 
                      padding-left: 2.5em;}

 /* responsive width for bf and unialign */
@media 
  only screen and (max-width: 760px),
  (min-device-width: 100px) and (max-device-width: 1024px)  
  {
    .bf {
      padding: 20px 20px;
      left: 25%;
      height: 25%;
      width: 80%;
    }
  }
