@import url(fontawesome-all.min.css);
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';


/* Hero Image*/
div.hero-image { 

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  position: relative;

  left: 25%;
  margin: 5px;
 }

  /* Produces Map Background */
  body {
    background-image: url("../map.png"); /* the map background */
    background-color: #D9D7F1;  /* original purple #98b8fca1 */

    /* option 2 D9D7F1 */
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }

  /* Words/Characters/Fonts */
  body, input, select, textarea {
      font-family: "Source Sans Pro", Helvetica, sans-serif;
      font-size: 25pt;
      font-weight: 100;
      line-height: 1.5;
      border-spacing: 50px 15px;
  }
  a {	
      color: inherit;
  }
  h1, h2, h3 {
      font-weight: 300;
      line-height: 1.5;
      margin: 0 0 0.5em 0;
  }
  h1 {
      font-size: 1em;
      line-height: 3;
      text-align: center;   
      padding: 10pt;
  }
  h2 {
      font-size: 1.5em;
  }
  h3 {
      font-size: 1.25em;
  }

  h4 {font-size: .85em;}

  h5 {font-size: .4em;
        line-height: 0px;
        margin: 0px;
        padding: 10px; }

  .center {
    text-align: center;
  }

/*Creating Border around Home Sections*/
 .home { /* use div class="home"*/
  padding: 25px;
  border-radius: 1px 1px;
  margin-bottom: 3%;
  border-style: solid;
  border-color:black;
  background-color: rgba(255, 255, 255, 0.856);
  width: 80%;
  margin-left: 8%;
  font-size: 80%;
  overflow-x: hidden;
  
}

  /* Creating a border around Sections*/
    .bf { /* use div class="bf"*/
    padding: 120px;
    border-radius: 5px 5px;
    margin: auto;
    margin-bottom: 5%;
    text-align: center;
    border-style: solid;
    border-color:black;
    background-color: white;
    width: 50%;
    
    overflow-x: hidden;
    
  }

 /* a smaller version of bf */
  .bf-small { /* use div class="bf-small"*/
    padding: 20px;
    border-radius: 5px 5px;
    margin: auto;
    margin-bottom: 0;
    text-align: center;
    border-style: solid;
    border-color:black;
    background-color: white;
    width: 60%;
    
    overflow-x: hidden;
    
  }

  /* better alignment of gender radio buttons on reg page */
    .radioAlign { text-align: left; 
                    padding-left: 11em;}

    .radioAlign2 { text-align: left; 
                      padding-left: 2.5em;}

    /* For forms with multiple checkboxes */
    .uniAlign{ text-align: left;
                  padding-left: 6em;
		font-size: .85em; }

 /* responsive bf types and radioAlign */
     @media 
  only screen and (max-width: 760px),
  (min-device-width: 100px) and (max-device-width: 1024px)  
  {
    .bf {
      padding: 20px 20px;
      left: 25%;
      height: 25%;
      width: 80%;
    }
    .radioAlign { text-align: left; 
      padding-left: 4em;}
    .uniAlign{ text-align: left;
      padding-left: 0em;
      font-size: .65em;}
    h5 {font-size: .4em;
      line-height: 14px;}        
  }

/* Footer */
	#footer {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: 1em 1em -1em 100em ;
    background-color: #e7e6eebe;
    font-size: 14pt;
	}

		#footer > * {
			width: calc(50% - 2em);
			margin-left: 2em;
		}

		/* responsive footer details */
		@media screen and (max-width: 1280px) {
			#footer {
				padding: 2em 2em 0em 2em ;
			}
		}
		@media screen and (max-width: 980px) {

			#footer {
				padding: 2em 1em 0em 2em ;
				display: block;
				margin: 0 0 3em 0;
				width: 100%;
			}
				#footer > * {
					width: 100%;
					margin-left: 0;
					margin-bottom: 1em;
				}
		}
		@media screen and (max-width: 736px) {

			#footer {
				padding: 1em 0em -1em 0em ;
			}
		}
		@media screen and (max-width: 480px) {
		#footer {
        padding: 2.5em 1em 0.5em 1em ;
			}
		}
   
/* social media buttons in footer */
    .fa {
      padding: 10px;
      font-size: 25px;
      width: 25px;
      border-radius: 100%;
      text-align: center;
      text-decoration: none;
      margin: 2px 20px;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
    
    .fa-instagram {
      background: #d6249f;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
      color: white;
      
    }
    .fa-paypal {
      background: #0000ff;
      color: white;
    }
