/* Index Page Buttons*/


.button {
  position: relative;
  overflow: hidden;

  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;

  font-size: 15px;
  line-height: 15px;
  text-decoration: none;

  cursor: pointer;
  background: #fff; /* original color #fff */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
  left: 38%;
  height: 75%;
  width: 25%;

  margin-bottom: 20px;
  padding: 18px 18px 17px;
}

/* color choices when hovering over button */
.button:hover {
  background-color: #F0FFC2; /* original purple e2c3ff96 */
  /* exotic option #fffee9 */
  color: black;
}

/* home button responsive css */
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  
{
  .button {
    font-size: 15px;
    line-height: 15px;
    padding: 22px 22px;
    margin-bottom: 8px;
    left: 25%;
    height: auto;
    width: 50%;
  }
}
